# Node
node_modules/

# Firebase service account keys (do NOT commit private keys)
serviceAccountKey.json
school31-site-firebase-adminsdk-*.json
*.firebase-adminsdk-*.json
school31-site-firebase-adminsdk-fbsvc-c573a976b6.json

# Environment files
.env
.env.*

# Local dev / OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
logs/
coverage/

# VS Code
.vscode/

# Build outputs
dist/
build/

# Misc
firebase-debug.log
